/* Блок преимуществ */
.advantages {
  width: 320px;
  .alignment();
  background-color: white;
}

.advantages__heads {
  padding-bottom: 38px;
}

.advantages__head {
  margin-top: 45px;
  text-align: center;
  .light-font();
  font-size: 24px;
  line-height: 26px;
}

.advantages__list {
  padding: 0;
  margin: 0;
}

.advantages__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: @lightgray;
  overflow: hidden;
}

.advantages__list-item {
  width: 260px;
  list-style: none;
}

.advantages__title,
.advantages__text {
  text-align: center;
}

.advantages__text {
  margin-bottom: 28px;
}

.advantages__title {
  .bold-font();
  font-size: 18px;
  line-height: 24px;
}

.advantages__img {
  margin-bottom: -40px;
  margin-top: 8px;
}
