/* Блок контакты */
.contacts {
  width: 320px;
  .alignment();
}

.contacts__head {
  .light-font();
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.contacts__data {
  padding: 0;
  margin: 0;
}

.contacts__item {
  list-style: none;
}

.contacts__item-head,
.contacts__item-text {
  text-align: center;
  list-style: none;
}
