/* Блок контакты */
.contacts {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  //background-color: aquamarine;//временно
}

.contacts__head {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.contacts__data {
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts__item {
  //background-color: bisque;//временно
}

.contacts__item-head {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  text-align: center;
}

.contacts__item-text {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @darkpink;
  text-align: center;
}

.contacts__item-text:last-child {
  font-style: normal;
}


.contacts svg {
  margin-top: 10px;
  margin-left: -140px;
}

.contacts polygon {
  fill: white;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 660px;
  }

  .contacts__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item:not(:last-child) {
    flex-grow: 1;
    flex-basis: 275px;
  }

  .contacts__item:first-child {
    flex-basis: 320px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 960px;
  }

  .contacts__item:nth-child(2) {
    order: 1;
  }
}
