/*Блок загрузок */
.download {
  width: 320px;
  .alignment();
  background-color: @blue;
}

.download__img {
  background-color: @blue;
}

.download__common-link {
  text-decoration: none;
  color: white;
  text-align: center;
}

.download__link {
  width: 45px;
  height: 56px;;
}
