/*Блок главной навигаии  */
.header-logo {
  display: flex;
  padding-left: 20px;
  //margin-left: 20px;
}

.header-logo__link {
  padding-top: 23px;

  &:hover path {
    fill: @darkpink;
  }

  &:active path,
  &:focus path {
    fill: @palepink;
  }
}

.header-logo__img {
  //margin-left: 20px;
  //margin-top: 22px;
  //margin-bottom: 25px;
}

//margin-top: 21px;
//margin-bottom: 25px;

// .header-logo__link:hover path {
//   fill: @darkpink;
// }
