/*Блок главной навигации  */

.main-nav {
  margin-bottom: -65px;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  background-color: @blue;
}

.main-nav__list {
  padding: 0;
  margin: 0;

  z-index: 10;
}

.main-nav__toggle {
  position: relative;

  width: 50px;
  height: 27px;
  margin: 21px 20px 21px auto;

  background-color: transparent;
  border: none;

  cursor: pointer;
  z-index: 10;

  &:hover path {
    fill: @darkpink;
  }

  &:active path,
  &:focus path {
    fill: @palepink;
  }
}

.main-nav__icon-cross {
  display: none;

  padding-left: 20px;
  padding-bottom: 3px;
}

.main-nav--opened .main-nav__icon-cross {
  display: block;
}

.main-nav--opened .main-nav__icon-burger {
  display: none;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .header-logo {
  background-color: rgba(29, 38, 49, 0.4);
  border: none;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    width: 660px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1200px;
    margin: 0 auto;
    //background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;

    width: 1200px;
    min-height: 93px;//временно

    border-bottom: none;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }
}
