/* Блок с картой */
.map {
  height: 200px;
  margin-top: 40px;
  background-color: #eae6dd;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position-y: -445px;
}

@media (min-width: @tablet-width) {
  .map {
    height: 375px;
    background-image: url("../../img/bg-map-tablet@1x.jpg");
  }
}
