//Блок с мотивационным текстом
.motive {
  width: 250px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 52px;
  text-align: center;
  line-height: 30px;
  //background-color: darkseagreen;//временно для удобства
}
