//Футер
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.page-footer__logo-wrapper {
  display: block;
  width: 147px;
  height: 51px;
  background-color: cadetblue;//временный фон
}

.page-footer__social {
  background-color: coral;//временный фон
}

.social__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__copyright {
  background-color: aquamarine;//временный фон
}

.copyright__link svg {
  fill: @darkpink;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
}

.social__link--twitter {
  background-image: url("../../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.social__link--facebook {
  background-image: url("../../img/icon-facebook.svg");
  background-repeat: no-repeat;
}

.social__link--youtube {
  background-image: url("../../img/icon-youtube.svg");
  background-repeat: no-repeat;
}
