// Блок с заголовком страницы

.page-title__wrapper {
  width: 320px;
  margin: 0 auto;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @blue;
}

.page-title__head {
  //display: block;
  width: 180px;
  margin: 0 auto;
  //margin-left: 70px;
  padding: 100px 0 85px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: white;
}
