// блок с таблицей
.price-table {
  //width: 100%;
  width: 320px;
  margin-top: 40px;
  background-color: white;
  border-collapse: collapse;
  transform: translate(-540px);
}

.price-table__head {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: @blue;
}

.price-table__head span {
  display: block;
}

//.price-table,
.price-table th,
.price-table td {
  border: 2px solid #e5e5e5;
}

.price-table__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.price-table__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.price-table__head,
.price-table__data {
  min-width: 276px;
  text-align: center;
  vertical-align: middle;
}

.price-table__data {
  padding-top: 18px;
  padding-bottom: 18px;
}

.price-table__data-content {
  display: flex;
  justify-content: space-between;
}

.price-table__data-sign {
  padding-right: 10px;
  text-align: right;
}

.price-table__data-text {
  //display: none;
  padding-left: 10px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .price-table__head,
  .price-table__data {
    min-width: 150px;
  }

  .price-table {
    width: 620px;
    margin: 0 auto;
    transform: none;
  }

  /*.price-table tr:not(:first-child),
  .price-table__head:first-child {
    background-color: @lightgray;
  }*/

  .price-table__head:first-child {
    border-left: none;
    background-color: @lightgray;
    border-top: 2px solid @lightgray;
  }

  .price-table__data:not(:first-child) .price-table__data-text {
    display: none;
  }

  .price-table__data-content {
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .price-table {
    width: 940px;
  }

  .price-table__head,
  .price-table__data {
    min-width: 230px;
  }
}
