/* Блок с ценой */
.price {
  width: 320px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  background-color: @lightgray;
}

.price__wrapper {
  position: relative;
  margin: 0 auto;
  background-color: @lightgray;
  overflow: hidden;
}

.price__toggles {
  margin-top: 30px;
}

.price__toggles .slider__toggle:not(.slider__toggle--active) {
  border: 3px solid @lightgray;

  &:hover {
    background-color: #7e868f;
  }

  &:active,
  &:focus {
    background-color: #e9ebec;
  }
}

.price__toggles .slider__toggle--active {
  background-color: white;
  border: 3px solid #000000;
}

@media (min-width: @tablet-width) {
  .price {
    width: 660px;
  }

  .price__wrapper {
    overflow: visible;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    width: 1200px;
  }
}
