/* Блок с ценой */
.price {
  //overflow: hidden;
}

.price-table {
  border-collapse: collapse;
}

//.price-table,
.price-table th,
.price-table td {
  border: 1px solid #e5e5e5;
}

.price__wrapper {
  width: 840px;
  .alignment();
  background-color: @lightgray;
  margin-top: 90px;
}

.price-table__item {
  .bold-font();
  font-size: 18px;
  line-height: 30px;
}

.price-table__price {
  .light-font();
  font-size: 24px;
  line-height: 30px;
}

.price-table__head,
.price-table__data {
  width: 280px;
  text-align: center;
  vertical-align: middle;
}

.price-table__data-content {
  display: flex;
  justify-content: space-between;
}

.price-table__data-sign {
  padding-right: 10px;
  text-align: right;
}

/*.price-table tr:not(:first-child),
.price-table__head:first-child {
  background-color: white;
}*/

/*.price-table__head:first-child {
  border-left: none;
  border-top: none;
}*/

.price-table__data-text {
  //display: none;
  padding-left: 10px;
  text-align: left;
}
