/* Блок отзывов */
.reviews {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 45px;
}

.reviews__wrapper {
  margin-bottom: 23px;
}

.reviews__author {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.reviews__opinion {
  width: 280px;
  margin: 0;
  margin-top: 14px;
  margin-left: 20px;//calc((100% - 280px) / 2);
  font-size: 14px;
  line-height: 30px;
}

.reviews__authors-characteristic {
  display: none;
  padding: 0;
  margin: 0;
}

.reviews__toggles .slider__toggle {
  border: 3px solid white;
}

.reviews__toggles .slider__toggle--active {
  background-color: white;
  border: 3px solid #000000;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 620px;
    min-height: 250px;//временно
  }

  .reviews__opinion {
    width: 620px;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__authors-characteristic {
    display: block;
    order: 1;
  }

  .reviews__slide {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1200px;
    //background-color: blanchedalmond;//временно
  }

  .reviews__opinion q {
    display: block;
    width: 800px;
    margin-left: 180px;
    //background-color: azure;
  }

  .reviews__toggles {
    display: none;
  }
}
