/* Блок отзывов */
.reviews {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 45px;
}

.reviews__author {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.reviews__opinion {
  width: 280px;
  margin: 0;
  margin-left: 20px;//calc((100% - 280px) / 2);
  font-size: 14px;
  line-height: 30px;
}

.reviews__authors-characteristic {
  display: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 620px;
    min-height: 250px;//временно
  }

  .reviews__opinion {
    width: 620px;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__authors-characteristic {
    display: block;
    order: 1;
  }

  .reviews__slide {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 1;
  }
}
