.upload {
  width: 320px;
  margin: 0 auto;
}

.upload__wrapper {
  background-color: @lightgray;
  padding-top: 20px;
  min-height: 735px;//временно
}

.upload__photo {
  display: block;
  margin: 0 auto;
}
